@import "tailwindcss";
@import "tw-animate-css";

/* Tailwind theme customization */
@theme {
  --color-primary: #0075eb;
  --color-secondary: #e9f4ff;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  backdrop-filter: blur(4px);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
